@media only screen and (max-width: 600px) {
  h1,
  h2 {
    font-size: 1em;
  }
}

body {
  padding: 0;
  margin: 0;
  min-height: 1000vh;
  background-color: rgb(139, 201, 228);
  animation: body 1s linear;
}
@keyframes body {
  to {
    background-color: rgb(19, 48, 97);
  }
}

.progress {
  height: 3px;
  width: 0%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  animation: progress 1s linear;
}
@keyframes progress {
  to {
    background-color: rgb(231, 110, 221);
    width: 100%;
  }
}

.text-container {
  font-size: small;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  animation: text 0.25s linear;
}
@keyframes text {
  to {
    color: #fff;
    opacity: 0;
  }
}

.sun {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgb(229, 233, 7);
  box-shadow: 0 0 14px 14px rgb(229, 233, 7, 0.2);
  position: fixed;
  top: 20%;
  left: 50%;
}

.bigger {
  height: 100px;
  width: 100px;
  top: 15%;
  left: 25%;
  animation: sun 1.1s linear infinite;
}

.smaller {
  height: 100px;
  width: 100px;
  top: 10%;
  left: 60%;
  animation: sun 0.9s linear infinite;
}

@media (min-width: 640px) {
  .bigger {
    left: 30%;
  }

  .smaller {
    left: 60%;
  }
}

@media (min-width: 768px) {
  .bigger {
    left: 35%;
  }

  .smaller {
    left: 60%;
  }
}

@media (min-width: 1024px) {
  .bigger {
    left: 40%;
  }

  .smaller {
    left: 60%;
  }
}

@media (min-width: 1280px) {
  .bigger {
    left: 45%;
  }

  .smaller {
    left: 55%;
  }
}

@keyframes sun {
  60% {
    background-color: rgb(253, 196, 253);
    box-shadow: 0 0 14px 14px rgb(243, 163, 243, 0.2);
  }
  75% {
    background-color: rgb(185, 7, 7);
    box-shadow: 0 0 14px 14px rgb(185, 7, 7, 0.2);
  }
  to {
    top: 115%;
    background-color: rgb(117, 4, 4);
    box-shadow: 0 0 14px 14px rgb(117, 4, 4, 0.2);
  }
}

:root * {
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
